body {
  margin: 0;
  padding: 0;
  background: #0f0f0f;
  color: #e6e6e6;
  font-family: Arial, sans-serif;
}

:root {
  --blue: #1e8bff;
  --blue-light: #4dabff;
  --glass: rgba(255,255,255,0.06);
}

.auth {
  max-width: 350px;
  margin: 80px auto;
  padding: 25px;
  background: var(--glass);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 119, 255, 0.2);
}

.auth p {
  font-size: 18px;
  margin-bottom: 20px;
  color: var(--blue-light);
  font-weight: bold;
}

.room {
  max-width: 350px;
  margin: 80px auto 40px auto;
  padding: 20px;
  background: var(--glass);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0, 119, 255, 0.15);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  color: var(--blue-light);
  font-weight: bold;
}

.room-input {
  padding: 10px;
  border: 1px solid #333;
  border-radius: 6px;
  outline: none;
  background: #0d0d0d;
  color: #e6e6e6;
  font-size: 16px;
}


.glass-btn {
  padding: 11px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: rgba(30, 139, 255, 0.15);
  color: var(--blue-light);
  font-weight: 600;
  transition: 0.25s;
  border: 1px solid rgba(30, 139, 255, 0.3);
}

.glass-btn:hover {
  background: rgba(30, 139, 255, 0.3);
  color: #fff;
}


.sign-out {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 35px;
}

.sign-out button {
  width: 200px;
}
